<div class="container">
  <h1>Welcome to Hacker News!</h1>
  <p>
    <!-- Create an account/ Sign Up New Person -->
    <form action='/signup' method="POST">
    Username:<input type="text" name = "newuser[name]">
    Email:<input type="text" name = "newuser[email]">
    Password: <input type="password" name="newuser[password]">
    Password Confirmation <input type="password" name="newuser[password_confirmation]">
    <input type="submit" value = "Create User"><br><br>
    </form>

    <!-- Login existing User -->
    <form action='/login' method="POST">
      <label>Email:<input type="text" name="email"></label>
      <label>Password:<input type="password" name="password"></label>
      <input type="submit" value = "Login!">
    </form>


  </p>

</div>
